/* Шрифти Roboto
Weight 400,500 700 ,900
Raleway
Weight 700
color 
#212121 -h2
#757575-p
#FFFFFF;-hero
 #2196F3;-button-founds
 */
/* root */
/* функция var() */
/* .item{
flex-basis: calc(100%-var(--indent)
(var(--items)-1)/3;
} */
/*     
.list{
    gap: var(--indent);
} */


:root{

    /* fonts */
--main-fount:'Roboto', sans-serif;
--secondary-fount:'Raleway', sans-serif;
/* text colors */
--main-txt-cl-title:#212121;
--main-txt-cl:#757575; 
--main-txt-cl-b-f:#2196F3;
--main-txt:#FFFFFF;
;
/* bg colors */
--dark-bg-cl-hero:#2F303A;
--dark-bg-cl-fet: #E5E5E5;
--dark-bg-cl-tems:#F5F4FA;
--dark-bg-cl-footer:#2F303A;
--accent-bg-cl:#2196F3;
--features-bg-cl:#F5F5F5;
--icons-cl: #AFB1B8;
/* others */
--indent: 30px;
--items: 3; 
--time:color 250ms cubic-bezier(0.4, 0, 0.2, 1);

;

}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  
    /* outline: 2px solid red;
    outline-offset: -2px; */
  }
.body{
    font-family: var(--main-fount);
    font-style: normal;
    margin: 0;
    
}
.no-scroll{
    overflow: hidden;
}
/* reset styles */
.link{
    text-decoration: none;
    color:currentColor;
}
.list{
    list-style: none;

}

/* Header section */
/* 
 */
.header{

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-txt-cl-title);
    border-bottom: 1px solid #ECECEC;

}
.header-container{
    align-content: space-between;
    display: flex;
    align-items: center;
    height: 80px;
    margin-right: 0;
    
}
.header-line{
    width: 1600px;
    border: 1px solid #ECECEC;
    border-top:none;
    border-right: none;
    border-left: none;
}

/* header-nav */
.current-link {
   
    position:relative;
    
  
  }
.current-link::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
  
    display: block;
    width: 100%;
    height: 4px;
  
    border-radius: 4px;
    background-color: var(--accent-bg-cl);
    
  }

  
.header-nav{
    display: flex;
    align-items: center;
    transition:var(--time);
}
.list-nav{
    display: flex;
    align-items: center;
    gap: 50px; 
    padding-left: 0;
    margin: 0;
    transition:250ms cubic-bezier(0.4, 0, 0.2, 1);

   
}
.link-item {
    display:flex;
    flex-direction:row-reverse;
    align-items: center;
    gap:10px;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition:250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo{
    margin-right: 93px;
}

.logo-color {
color: var(--accent-bg-cl);
 }
.logo, .logo-footer {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
 
}
.logo-header{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em; 
color: var(--accent-bg-cl);
}

.logo-foter{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--main-txt);

}
.contacts-list{

display: flex;
gap: 50px;  
margin-top: 0;
margin-bottom: 0;
margin-left:auto;
color:currentColor;


    

}


.text{

font-style: normal;
flex-wrap: wrap;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
/* or 171% */
letter-spacing: 0.03em;
margin: 0;




color: var(--main-txt-cl);

}
.title{
  
margin: 0;
padding-top: 94px;
    
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-txt-cl-title);

}




.list-nav :hover,
.list-nav :focus{

color: var(--accent-bg-cl);
caret-color: var(--accent-bg-cl);


}

.link-item:active {

color: var(--accent-bg-cl);
caret-color: var(--accent-bg-cl);
transition:var(--time);

} 

/* Contacts  */
.contacts-link,
.contacts-mail {
color: var(--main-txt-cl);

}
.contacts-mail{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: var(--main-txt-cl);

}
/* Contacts icon */
.contacts-list{
 
    display:flex;  
    flex-wrap: wrap;

    align-items: center;
    justify-content:center;
}

.contacts-icon{
  
    fill: currentColor; 

} 

.portfolio-item{
    
    flex-basis: calc((100% - 60px) / 3);
    transition:250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-current {
color: var(--accent-bg-cl);
}
.portfolio-current {
 color: var(--accent-bg-cl);   
}
.contacts-list :hover,
.contacts-list :focus {
color: var(--accent-bg-cl);


}


.contacts-list {
    padding-left: 0;
    transition:var(--time);
}

/* hero */
.hero{
    
 
    height: 600px;
    
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-repeat: no-repeat;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/hero.jpg); 

     background-position: center;

    background-color: var(--dark-bg-cl-hero);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-txt);

}
.hero-img{
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
 
    background: rgba(47, 48, 58, 0.4);
 
}
.title-hero{
    
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-txt);
    margin: 0 auto;
}

.button-hero{
    
display: block;
margin-left: auto;
margin-right: auto;
min-width: 200px;
padding-top: 10px;
padding-right: 32px;
padding-bottom: 10px;
padding-left: 32px;

font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
border-radius: 4px;
background-color: var(--accent-bg-cl);
color: var(--main-txt);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn-hero{
margin-left: auto;
margin-right: auto;
margin-top: 30px;
padding:6px 22px;
}

.section-title{
font-weight:700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-txt-cl-title);
margin-bottom: 10px;
margin-top: 0px;
}
.section-title-item{

font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--main-txt-cl-title);

}


.section-features{
    /* align-content: flex-start; */
    
    justify-content:space-between;
  
    align-items: center;
    justify-content:start;
    margin: 0;
    padding-top: 94px;
    padding-right: 0px;
    padding-bottom: 94px;
    padding-left: 0px;
 
}
.list-features{
    display: flex;
    gap: 30px;
    
 
    margin: 0;
    margin-top: 0;
    
}
.list-features-item{
    width: 270px;
    padding-left: 0;
   
}
.features-img{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 270px; */
    height:120px;

    border-radius: 4px;
    
    margin-bottom: 30px;
    background-color: var(--dark-bg-cl-tems);
}

.list-occupation{
    justify-content: space-between;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    
}
.box-img-occupation{
    margin-top: 50px;
}

/* Works */

.works{
   

    justify-content:start;
    align-items:center;
   

    margin: 0 auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 94px;
    padding-left: 0px;
}

.title-works{

    padding: 0;
}
/* team */
.section-team{
    /* display: flex; */
    align-items: center;
    justify-content:start;
    align-items:center;
    padding-top: 94px;
    padding-bottom: 94px;
    
}
.list-team{
    /* justify-content:space-between; */
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
    margin: 0;
   padding: 0;
    /* flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items)); */
    
    
}
.title-team{
  
    margin-bottom: 50px;
    padding:0;
}


.team-item{
    margin:0;
    flex-basis: calc((100% - 90px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--main-txt);
    flex-wrap: wrap;
    gap: 30px;

}
.card-team{
    padding-top: 30px;
    padding-bottom: 30px;
}


.section-title-team{
    margin: 0px;

    font-weight: 500; 
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl-title);

    
    }
    
    .text-team{
    margin-top: 10px;
    margin-bottom: 16px;
    
    font-weight: 400;   
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--main-txt-cl);
    }
    
    
    .section-team{
        
    letter-spacing: 0.03em;
    color: var(--main-txt-cl-title);
    background-color: var(--dark-bg-cl-tems);
    padding-top: 94px;
    }
/* Social icons */
.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 0px;
      
    }
      

.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
   
    color: #AFB1B8;
    background-color: #ffffff;
    border-radius: 50%;
    transition:250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
      
.socials-link:hover,
.socials-link:focus {
    background-color:var(--accent-bg-cl);
    color:#ffffff;
   
    }
      
.socials-icon {
    fill: currentColor;
    }
/* Client */
.client{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 94px;
    margin: 0 auto;
   
}
.client-link:hover,
.client-link:focus {
    border-color: 1px solid var(--accent-bg-cl);
  
    color:var(--accent-bg-cl);
   
}

.client-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icons-cl);
    color:var(--icons-cl);
    border-radius: 4px;
    transition:250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.client-icon{
fill:currentColor; 
}

.title-client{
    margin-bottom: 50px;
}
.client-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0px;
    fill: var(--accent-bg-cl);
    
    color:var(--icons-cl);
}

.client-item:not(:nth-child(6n)){
    margin-right: 30px;
}

    /* footer */

.footer{
    
    padding: 60px 0px;
    flex-direction:column;
   
    background-color: var(--dark-bg-cl-footer);
    color: var(--main-txt);
   
}
.footer-title{

    display: block;
    align-items: center;
    justify-content: center;
    
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em; 
    text-transform: uppercase;
    color: var(--main-txt);
    margin: 0 auto;
    padding: 0 auto;
    
  
}
.footer-item{
    display:flex;
    flex-direction: column;
    
     background-color: var(--dark-bg-cl-footer);
 }   
 .footer-box{
     margin-right: 70px;
 }
.footer-content{
    display: flex;

}
.address-item{
   
    margin-top: 20px;
}

 .address{
     display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-txt);
    
 }
 /* Footer icons */
 .footer-socials-link{
    transition:250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .footer-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 0 ;
    margin:0 auto;
 
    }
      
.footer-socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;

    
   
    color: #FFFFFF;
    background-color:rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    }
      
.footer-socials-link:hover,
.footer-socials-link:focus {
    background-color:var(--accent-bg-cl);
    
    }
      
.footer-socials-icon {
    fill: currentColor;
    transition:5s cubic-bezier(0.4, 0, 0.2, 1);
    }
.footer-socials{
    padding-top: 20px;
    
}

 /* portfolio css */
 .header-portfolio{
    background-color: var(--dark-bg-cl-fet);
    }
    
.button-item{
    flex-wrap: wrap;
       
}
.button{
    padding:6px 22px;
    font-style: normal;     
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em; 
    font: inherit;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    
    color: var(--main-txt-cl-title);
    background-color:var(--dark-bg-cl-tems);
   
    transition:250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
.button:hover,
.button:focus,
.button:active{
    
    font-style: normal;     
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em; 
    color: var(--main-txt);
    background-color: var(--accent-bg-cl);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   
    
    
    }
    
        
.button-link{
       
    color: var(--main-txt-cl-title);
    text-decoration: none;
    
}
.contacts-footer {
    display: flex;
    margin-top: 9px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    
    }
.current-link{
    color: var(--accent-bg-cl);
}
    
.section-title-portfolio{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 0px;
    margin-bottom: 4px;
    
    color: var(--main-txt-cl-title);
    }
.text-portfolio {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height:1.9;
    margin: 0;
    letter-spacing: 0.03em;
    
    color: var(--main-txt-cl);
}
.list-button {
   
    display:flex;
    gap:8px;
       
    justify-content: center;
    align-items:center;
    margin-top: 0;
    margin-bottom: 50px;
    padding: 0px;
        
    font: inherit;
    cursor: pointer;
    border: none;
    border-radius: 4px;
        
        
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: var(--main-txt);
    
    
    }
.section-navigation{
    display: flex;
    flex-wrap: wrap;
    padding: 94px 0px;
        
    background-color: var(--main-txt)
    }
.portfolio-info{
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    margin: 0;
    
    border-right:1px solid #EEEEEE;
    border-bottom:1px solid #EEEEEE;
    border-left:1px solid #EEEEEE;
   
        
    
    }
.portfolio-nav {
    display: flex;
    gap:30px;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: auto; 
    margin-left: auto;
    padding-left: 0;
    }
    .list-portfolio {
    display: flex;
    gap:30px;
    flex-wrap: wrap;
      
    margin: 0 auto;
    padding-left: 0;
    padding-bottom: 0px;
   
       
    }
    
.list-portfolio:nth-child(4n + 1)
    {
    padding-bottom: 30px;
    } 
.list-portfolio:last-child{
    padding-bottom: 0px;
    }
.card-portfolio{
    display: inline-block;   
    margin: 0;
    background: #FFFFFF;
    padding-bottom: 0px;
    transition:250ms cubic-bezier(0.4, 0, 0.2, 1);
    
      
    }
.card-portfolio:hover,
.card-portfolio:focus
    {
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    }
.portfolio-img{
   
    position: relative;
    overflow: hidden;
    transition:250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item :hover .overlay{
    transform: translateY(0);
    opacity: 1;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
   
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(100%);

    width: 100%;
    height: 100%;
    padding:63px 24px;
    display: flex;
    align-content: center;
    justify-content: center;
    background: rgba(33, 150, 243, 0.9);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
    opacity: 0;
    transition:250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
}
.overlay-text{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: var(--main-txt);

    letter-spacing: 0.03em;
    user-select: none;
   
}
.portfolio-box{

    background-color: var(--main-txt);
       
    }
    /* Modal window */
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms ease-out, visibility 250ms ease-out;
    }
   
.modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    width: 521px;
    height: 581px;
    background-color: var(--main-txt);
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition:250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    width:30px ;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    background:var(--main-txt);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
.backdrop.is-hidden .modal {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.3) rotate(1turn);
    
  }
   
